#singleCountryImage {
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    max-width: 100vw;
    filter: grayscale(100%);
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
}