<div class="container pb-3">
  <h3 class="text-center grey-text font-weight-bold m-4 head-title">All Regions</h3>
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-5" [routerLink]="['/countries','asia']">
      <div class="region-card">
        <div class="region-asia z-depth-1 w-100 h-100">
        </div>
        <p class="text-center text-muted font-400 pt-2">Asia</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-5" [routerLink]="['/countries','africa']">
      <div class="region-card">
        <div class="region-africa z-depth-1 w-100 h-100">
        </div>
        <p class="text-center text-muted font-400 pt-2">Africa</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-5" [routerLink]="['/countries','americas']">
      <div class="region-card">
        <div class="region-america z-depth-1 w-100 h-100">
        </div>
        <p class="text-center text-muted font-400 pt-2">America</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-5" [routerLink]="['/countries','europe']">
      <div class="region-card">
        <div class="region-europe z-depth-1 w-100 h-100">
        </div>
        <p class="text-center text-muted font-400 pt-2">Europe</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-5" [routerLink]="['/countries','oceania']">
      <div class="region-card">
        <div class="region-oceania z-depth-1 w-100 h-100">
        </div>
        <p class="text-center text-muted font-400 pt-2">Oceania</p>
      </div>
    </div>
  </div>
</div>